-
  __status.errorText = {
    error: 'There’s seems to be an issue. Please try again.' + 
            'If the problem persist, reach out to the team and we will be happy to assist you.',
    password_match: 'Your password does not match. Please try again',
    username_error: 'The username that you selected already exist. Please try again',
  }[__status.error]


doctype html
html(lang='en')
  head
    title Sign Up | UpRoar
    include /global/head
    link(rel='stylesheet' type='text/css' href='/css/sign-up.css')
    script(src='/js/sign-up.js' type='text/javascript')
  body
    include /global/header
    .container.center
      h1 Sign Up
      .flex-row  
        div(id='message')
          h3 Password contains:
          p(id='letter' class='invalid') Requires a  lowercase letter
          p(id='capital' class='invalid') Requires a uppercase letter
          p(id='number' class='invalid') Requires a number
          p(id='length' class='invalid') Minimum 8 characters
      .flex-row
        form(method='post')
          table.table-layout-form.table-style-default
            tr
              td
                label(for='username') Username
              td
                input(id='username' name='username' type='text' required)
            tr
              td
                label(for='email') Email
              td
                input(id='email' name='email' type='email' required)
            tr
              td
                label(for='password') Password
              td
                input(id='password' name='password' type='password'  required)
            tr
              td
                label(for='confirm_ password') Confirm Password
              td
                input(id='confirm_password' name='confirm_password' type='password'  required)
          button.btn.btn-green(type='submit') Sign Up
      a.link(href='/auth/login') Already have an account? Login