-
  __status.errorText = {
    error: 'There’s seems to be an issue. Please try again.' + 
            'If the problem persist, reach out to the team and we will be happy to assist you.'
  }[__status.error];

doctype html
html(lang='en')
  head
    title Sign Up | UpRoar
    include /global/head
  body
    include /global/header
    .container.center
      h1 Sign Up
      .flex-row
        form(method='post')
          table.table-layout-form.table-style-default
            tr
              td
                label(for='username') Username
              td
                input(type='text' name='username' required)
            tr
              td
                label(for='password') Password
              td
                input(type='password' name='password' required)
          button.btn.btn-green(type='submit') Sign Up
      a.link(href='/auth/login') Already have an account? Login