doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width', initial-scale=1.0)
    title Test Email
    style. 
      body {
        font-family: 'Arial', sans-serif;    
      }
  body
    h1 This is a test
    //- div(class='container')
    //-   h1 #{title}
    //-   p Hello #{receiver.name}
    //-   p #{message}
    //-     a(href=website, target='_blank' class='button') Visit our website