header
  a.white.no-style(href="/")
    h1.logo UpRoar
      i(class='fa fa-handshake-o')
  ul.nav
    if __authenticated 
      li.nav-link 
        a(href='/user/dashboard') Dashboard
      li.nav-link 
        a(href=`/user/${__user.id}/profile`) Profile
      li.nav-link 
        a(href='/version') Version
      li.nav-link
        a.btn.btn-auth(href='/auth/logout') Logout
    if !__authenticated
      li.nav-link
        a.btn.btn-auth(href='/auth/sign-up') Sign Up
  div.burger 
    i(class='fa fa-bars')
br
.status-bar#error-banner(style={display: __status.errorText ? 'block' : 'none'})
  p #[i.fa.fa-exclamation-circle] #[span.bar-message= __status.errorText]