header
  h1.logo UpRoar
    i(class='fa fa-handshake-o')
  ul.nav
    li.nav-link 
      a(href='/') Dashboard
    li.nav-link 
      a(href='/edit') Add
    li.nav-link 
      a(href='/auth/sign-up') Sign Up
  div.burger 
    i(class='fa fa-bars')