doctype html
html(lang='en')
head
  title Edit | UpRoar
  include /global/head
body
  include /global/header
  .container.center
    h2 Add Hours
    .flex-row
      form(method='post')
        table.table-layout-form.table-style-default
          tr
            td
              label Name
            td
              input(type='text' name='name')
          tr
            td
              label Hours
            td
              input(type='number' name='hours')
        .flex-row
          button.btn(type='submit') Submit
      //- a.btn.btn-cancel(href='/') Back