doctype html
html(lang='en')

head
  title Volunteer
  link(rel='stylesheet' type='text/css' href='/css/style.css')

body
  h1 Volunteer Portal

  form(method='#')
    label Name
    input(type='text')
    label Hours
    input(type='number')
    button(type='submit') Submit
  a(href='/') Back