doctype html
html(lang='en')

head
  title Edit | UpRoar
  include /global/head

body
  include /global/header
  form(method='POST')
    table
      tr
        td
          label Name
        td
          input(type='text' name='name')
      tr
        td
          label Hours
        td
          input(type='number' name='hours')
      tr
        td
          button(type='submit') Submit
  a(href='/') Back