-
 const columns = [
  {key: 'id', type: 'integer', label: 'Id'},
  {key: 'user', type: 'string', label: 'User'},
  {key: 'number_of_hours', type: 'integer', label: 'Number of Hours'},
  {key: 'organization', type: 'text', label: 'Organization'},
  {key: 'role', type: 'text', label: 'Role'},
 ];

doctype html
html(lang='en')
  head
    title  Dashboard | UpRoar
    include /global/head.pug
    include /global/datatables.pug
    include /util/tables.pug
    script(type='text/javascript').
      const columns = !{interpolate(columns)};
    script(src='/js/util/datatables.js' type='text/javascript')
    script(src='/js/index.js' type='text/javascript')   
  body
    include /global/header
    .container.center
      .banner
        h2 Welcome: #{__user.username}
      .banner
        h2.center Add Volunteer Hours
        a.btn.btn-orange(href='/edit') Add Hours
      +dataTable(columns, data, {
        id: 'dashboard-table',
        class: [],
      })   