doctype html
html(lang='en')

head
  title  Dashboard | UpRoar
  include /global/head

body
  include /global/header
  .container.center
    h2.center Add Volunteer Hours
    a.btn(href='/edit') Add Hours
    for info in data
      p #{info.user} #{info.number_of_hours}