doctype html
html(lang='en')

head
  title Volunteer
  link(rel='stylesheet' type='text/css' href='/css/style.css')

body
  include /global/header
  h3.center Add Volunteer Hours
  a(href='/edit') Add Hours