doctype html
html(lang='en')
  head
    title Edit | UpRoar
    include /global/head.pug
  body
    include /global/header
    .container.center
      h2 Add Volunteer Hours
      .flex-row
        form(method='post' autocomplete='off')
          table.table-layout-form.table-style-default
            tr
              td
                label Name
              td
                //- TO DO: Change value to be pulled from the backend to avoid the __
                input(type='text' name='name' value=username disabled) 
            tr
              td
                label Organization
              td
                input(list="organizations" name="organization")
                datalist(id="organizations")
                  for organization of organizations
                    option(value=organization.name)
            tr
              td
                label Position/Role
              td
                input(type='text' name='role')
            tr
              td
                label Date of Volunteer
              td
                input(type='date' name='date')
            tr
              td
                label Amount of Hours
              td
                input(type='number' name='hours')
            tr
              td
                label Description
              td
                textarea(name="description") 
          .flex-row
            a.btn.btn-cancel(href='/') Back
            button.btn(type='submit') Submit
          