doctype html
html(lang='en')
  head
    title Edit | UpRoar
    include /global/head.pug
  body
    include /global/header
    .container.center
      h2 Add Hours
      .flex-row
        form(method='post')
          table.table-layout-form.table-style-default
            tr
              td
                label Name
              td
                //- TO DO: Change value to be pulled from the backend to avoid the __
                input(type='text' name='name' value=__user.username disabled)
            //- TO DO: Create a drop-down option to find organization
            tr
              td
                label Organization
              td
                input(type='text' name='organization')
            tr
              td
                label Position/Role
              td
                input(type='text' name='role')
            tr
              td
                label Hours
              td
                input(type='number' name='hours')

          .flex-row
            a.btn.btn-cancel(href='/') Back
            button.btn(type='submit') Submit
          