.status-bar {
  color: #fff;
  margin: 0.5% 2.5%;
  padding: 1%;
  border-radius: 5px;
}

#error-banner {
  background-color: #F80312;
}

.banner {
  border: 1px solid #000;
  border-radius: 5px;
  margin: 1.5% 3%;
}