.btn {
  background-color: #525FE1;
  border: none;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 1.5% 3%;
  text-decoration: none;
  padding: 10px 20px;
}

.btn:hover {
  filter: brightness(1.1);
  transition: all 0.25s;
}

.btn.btn-cancel {
  background-color: #F80312;
}

.btn.btn-green {
  background-color: #03F86F;
}

.btn.btn-orange {
  background-color: #F86F03;
}

.btn-auth {
  border: 1px solid #000;
  background-color: #525FE1;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0% 3%;
  text-align: center;
  text-decoration: none;
  padding: 1.50px 20px;
  width: 100px;
}

.btn-auth:hover {
  filter: brightness(1.1);
  transition: all 0.25s;
}