.btn {
  background-color: #525FE1;
  border: none;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 3%;
  text-decoration: none;
  padding: 10px 20px;
}

.btn:hover {
  filter: brightness(1.1);
  transition: all 0.25s;
}

.btn.btn-cancel {
  background-color: red;
}

.btn.btn-green {
  background-color: #03F86F;
}